on:
  push:
    branches:
    - main

jobs:
  e2e-tests:
    runs-on: windows-latest # or macos-latest, ubuntu-latest
    environment: cred
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1

      - uses: microsoft/playwright-github-action@v1


      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm run github-action
        env:
          echo ${{ secret.MY_EMAIL }}
          echo ${{ secret.MY_PASS }}